//
// Variables to be used for styling a frost-table
//

$frost-table-header-height: 40px;
$frost-table-cell-padding: 10px;
$frost-table-border-width: 1px;

$frost-table-scrollable-body-box-shadow-color: rgba(0, 0, 0, .13);
$frost-table-scrollable-body-box-shadow: 0 1px 15px 3px $frost-table-scrollable-body-box-shadow-color;
