{
  "extends": ["frost-standard"],
  "rules": {
    "ocd/sort-import-declarations": [
      2,
      {
        "localPrefixes": [
          "../",
          "./",
          "ember-frost-table/",
          "dummy/"
        ]
      }
    ]
  }
}
