{{! Template for the frost-table-row component }}
{{#if isSelectable}}
  <td class='frost-table-cell frost-table-body-cell frost-table-row-cell frost-table-row-selection'>
    {{frost-table-row-selection
      hook=(concat hookPrefix '-selectionCell')
      hookQualifiers=(extend hookQualifiers column=column.index)
      isItemSelected=_isItemSelected
      item=item
      itemKey=itemKey

      onSelect=onSelect
    }}
  </td>
{{/if}}
{{#each columns as |column|}}
  {{! frost-fixed-table's columns are broken in to several separate rows,
      so if we encounter that we want to use it instead of index. }}
  {{frost-table-cell
    cellRenderer=column.renderer
    class=(concat cellCss '-cell' ' ' column.className)
    hook=(concat hookPrefix '-cell')
    hookQualifiers=(extend hookQualifiers column=column.index)
    item=item
    tagName=cellTagName
    value=(get item column.propertyName)

    onCallback=(action onCallback column.index)
  }}
{{/each}}
