{{! Template for the frost-table-header component }}
{{#if isSelectable}}
  <td class='frost-table-cell'>
    {{frost-table-header-selection
      hook=(concat hookPrefix '-selectionCell')
      hookQualifiers=(extend hookQualifiers column=column.index)

      onSelectionChange=onSelectionChange
    }}
  </td>
{{/if}}
{{#each columns as |column|}}
  {{frost-table-cell
    cellRenderer=column.headerRenderer
    class=(concat css '-cell' ' ' column.className)
    hook=(concat hookPrefix '-cell')
    hookQualifiers=(extend hookQualifiers column=column.index)
    tagName=cellTagName
    value=column.label

    onCallback=(action onCallback column.index)
  }}
{{/each}}