{{! template-lint-disable bare-strings }}
<div class='frost-demo'>
  <div class='frost-demos'>
    <div class='frost-demo-title'>
      Demos
    </div>
    {{#frost-scroll class='frost-demo-selectors'}}
      {{#link-to 'demo.overview'}}Overview{{/link-to}}
      {{!--
      <div class='frost-demo-selector-title'>
        Building blocks
        {{#link-to 'demo.blur'}}Background blur{{/link-to}}
        {{#link-to 'demo.remote-outlet'}}Remote outlet{{/link-to}}
        <div class='frost-demo-selector-title'>
          Local binding
          {{#link-to 'demo.basic-binding'}}Basic{{/link-to}}
          {{#link-to 'demo.animation-binding'}}Animation{{/link-to}}
          {{#link-to 'demo.content-binding'}}Content{{/link-to}}
          <div class='frost-modal-demo-selector-title'>
            Content concerns
            {{#link-to 'demo.dynamic-updates'}}Dynamic updates{{/link-to}}
            {{#link-to 'demo.overflow'}}Overflow{{/link-to}}
          </div>
        </div>
      </div>
      --}}
      <div class='frost-demo-selector-title'>
        Use cases
        {{#link-to 'demo.simple-table'}}simple-table{{/link-to}}
        {{!--
        {{#link-to 'demo.form'}}frost-modal-form{{/link-to}}
        --}}
      </div>
      <div class='frost-demo-selector-title'>
        Tests
        {{!--
        {{#link-to 'demo.helpers'}}Helpers{{/link-to}}
        --}}
      </div>
    {{/frost-scroll}}
  </div>
  {{#frost-scroll class='frost-demo-example'}}
    {{outlet}}
  {{/frost-scroll}}
</div>
