//
// Styles specific for the frost-table component (and its pieces)
//

.frost-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &-body-scroll {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-cell {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: $frost-table-cell-padding;
    border-right: solid 1px $frost-color-lgrey-1;
    text-align: left;
    overflow: hidden;

    &:last-child {
      border-right: 0;
    }

    &.right {
      text-align: right;
    }
  }

  &-header {
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $frost-color-white;
    color: $frost-color-grey-4;
    font-weight: bold;

    &-cell {
      min-width: 40px;
      height: $frost-table-header-height;
    }
  }

  &-body {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-row {
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: flex-start;

    &:nth-child(even) {
      background-color: $frost-color-white;
    }

    &:nth-child(odd) {
      background-color: $frost-color-lgrey-3;
    }

    // NOTE: keep the .even and .odd below the :nth-child() rules so they can override the default nth-row behavior
    &.even {
      background-color: $frost-color-white;
    }

    &.odd {
      background-color: $frost-color-lgrey-3;
    }
  }
}
