//
// Styles specific for the frost-fixed-table component (and its pieces)
//

$frost-fixed-table-selected-cell-border-width: 1px;

.frost-fixed-table {
  display: flex;
  position: relative;
  flex-direction: column;

  &-header,
  &-body {
    display: flex;
    flex-direction: row;
  }

  .frost-table-row,
  .frost-table-header {
    display: flex;
  }

  &-header {
    position: relative;

    &-middle {
      position: relative;
      overflow: hidden;

      // NOTE this level of specificity is required to override perfect-scroll default styles
      .ps-container > .ps-scrollbar-x-rail {
        display: none;
      }
    }
  }

  &-left,
  &-middle,
  &-right {
    display: flex;
    overflow: hidden;

    .frost-scroll {
      flex: auto;
    }
  }

  &-left {
    box-shadow: 23px 0 15px -4px $frost-table-box-shadow-color;
    z-index: 1;

    // NOTE this level of specificity is required to override perfect-scroll default styles
    .ps-container > .ps-scrollbar-y-rail {
      display: none;
    }

    // sass-lint:disable nesting-depth
    .frost-table-row {
      &.is-selected {
        border-right: 0;

        .frost-table-cell {
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    // sass-lint:enable nesting-depth
  }

  &-middle {
    position: relative;

    // NOTE this level of specificity is required to override perfect-scroll default styles
    .ps-container > .ps-scrollbar-y-rail {
      display: none;
    }

    // sass-lint:disable nesting-depth
    .frost-table-row {
      &.is-selected {
        border-right: 0;
        border-left: 0;

        .frost-table-cell {
          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
    // sass-lint:enable nesting-depth
  }

  &-right {
    box-shadow: -23px 0 15px -4px $frost-table-box-shadow-color;
    z-index: 1;

    // sass-lint:disable nesting-depth
    .frost-table-row {
      &.is-selected {
        border-left: 0;

        .frost-table-cell {
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
    }
    // sass-lint:enable nesting-depth
  }

  .frost-table-cell {
    @include frost-table-truncate-text;
    flex: 0 0 auto;
    align-items: center;
  }

  &.shift-down {
    // Range select doesn't select text
    user-select: none;
  }
}
