//
// Styles specific for the frost-fixed-table component (and its pieces)
//

.frost-fixed-table {
  position: relative;

  &-header,
  &-body {
    display: flex;
    flex-direction: row;
  }

  &-header {
    &-left {
      position: absolute;
      left: 0;
    }

    &-middle {
      position: relative;
      overflow: hidden;

      // NOTE this level of specificity is required to override perfect-scroll default styles
      .ps-container > .ps-scrollbar-x-rail {
        display: none;
      }
    }

    &-right {
      position: absolute;
      right: 0;
    }
  }

  &-left,
  &-middle,
  &-right {
    overflow: hidden;
  }

  &-left {
    position: absolute;
    left: 0;
    box-shadow: 23px 0 15px -4px $frost-table-box-shadow-color;

    // NOTE this level of specificity is required to override perfect-scroll default styles
    .ps-container > .ps-scrollbar-y-rail {
      display: none;
    }

    // sass-lint:disable nesting-depth
    .frost-table-row {
      &.is-selected {
        border-right: 0;

        .frost-table-cell {
          &:first-of-type {
            // Keep column borders aligned
            margin-left: -1px;
            padding-left: calc(#{$frost-table-cell-padding} + 1px);
          }
        }
      }
    }
    // sass-lint:enable nesting-depth
  }

  &-middle {
    position: relative;

    // NOTE this level of specificity is required to override perfect-scroll default styles
    .ps-container > .ps-scrollbar-y-rail {
      display: none;
    }

    .frost-table-row {
      &.is-selected {
        border-right: 0;
        border-left: 0;
      }
    }
  }

  &-right {
    position: absolute;
    right: 0;
    box-shadow: -23px 0 15px -4px $frost-table-box-shadow-color;

    // sass-lint:disable nesting-depth
    .frost-table-row {
      &.is-selected {
        border-left: 0;

        .frost-table-cell {
          &:last-of-type {
            // Keep column borders aligned
            margin-right: -1px;
            padding-right: calc(#{$frost-table-cell-padding} + 1px);
          }
        }
      }
    }
    // sass-lint:enable nesting-depth
  }

  .frost-table-cell {
    @include frost-table-truncate-text;
    display: inline-block;
    vertical-align: middle;
  }
}
