//
// Variables to be used for styling a frost-table
//

$frost-table-header-height: 40px !default;
$frost-table-cell-padding: 10px !default;
$frost-table-border-width: 1px !default;

$frost-table-box-shadow-color: rgba(0, 0, 0, .08) !default;
