.frost-table-header-selection {
  text-align: center;
  vertical-align: middle;

  &.frost-button {
    &.small {
      height: auto;
    }
  }
}

.frost-table-header-categories {
  .frost-table-header-cell {
    text-align: center;
  }
}
