.frost-table-header-selection {
  display: flex;
  align-items: center;
  justify-content: center;

  &.frost-button {
    &.small {
      height: auto;
    }
  }
}

.has-categories {
  flex-direction: column;
  height: 100%;

  .frost-table-header-categories {
    flex: 1 0 50%;

    .frost-table-header-cell {
      justify-content: center;
    }
  }

  .frost-table-header-columns {
    flex: 1 0 50%;
  }
}
