{{! template-lint-disable bare-strings }}
<div class='frost-demo-notes'>
  <h1>TLDR</h1>
  <p>
    <code>ember-frost-table</code> is a platform for building simple tables with a couple handy features,
    like fixed headers and frozen columns.
  </p>
  <p>
    In the simplest use-case, a <code>frost-table</code> takes an array of column definitions and an array
    of data items. It then displays the data in the items array one per row, using the columns it was given.
  </p>
  <div class='frost-demo-overview-links'>
    {{!--
    {{#link-to 'demo.blur' class='frost-link secondary medium'}}
      <div class='content text'>Moar platform, I want to learn!</div>
    {{/link-to}}
    --}}
    {{#frost-link 'demo.simple-table'
      priority='primary'
      size='medium'
    }}
      Enough talk, show me components!
    {{/frost-link}}
  </div>
</div>
